.row{
    max-width: 100%;
}

.portrait {
    width: 790px;
    height: 391px;
    position: relative; /* Permite posicionar elementos hijos de forma absoluta */
    display: inline-block;
}

.portrait-small {
    width: 100% !important;
    position: relative; /* Permite posicionar elementos hijos de forma absoluta */
    display: inline-block;
}

.main-img {
    width: 90%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
}

.main-img-small {
    width: 100% !important; /* Ajusta el tamaño según sea necesario */
    height: auto;
    
}

.second-img {
    position: absolute !important; /* Posiciona la estampilla de forma absoluta */
    top: 0 !important; /* Alinea al borde superior */
    right: 0 !important; /* Alinea al borde derecho */
    width: 291px !important; /* Ajusta el tamaño de la estampilla */
    height: 182px !important; /* Mantiene la proporción */
}

.second-img-small {
    position: absolute !important; /* Posiciona la estampilla de forma absoluta */
    left: 25%;
    top: 80%  !important; /* Alinea al borde superior */
    width: 146px !important; /* Ajusta el tamaño de la estampilla */
    height: 87px !important; /* Mantiene la proporción */
}



.btn-call-us {
    background-color: #57C086;
    color: #000;
    width: 336px;
    height: 75px;  
    font-size: 20px;
    border: none;
}

.btn-email-us {
    background-color: #7575C1;
    color: #fff;
    width: 336px;
    height: 75px;  
    font-size: 20px;
    border: none;
}

.book-text {
    font-size: 48px;
    color: #F45137;
    line-height: 58.51px;
}

.book-text-small {
    font-size: 30px;
    color: #F45137;
    line-height: 58.51px;
}