

.btn-faqdrop {
    background-color: transparent !important;
    color: #000;
    font-size: 16px;
    line-height: 19.5px;
    text-decoration: none;
}

.faq-hr {
    border: none;
    height: 4px;
    background-color: #57C086;
}

.card-faq-body {
    border: none !important;
    background-color: transparent !important;
}

.faq-header {
    font-size: 48px;
    line-height: 58.51px;
    color: #F45137;
}

.faq-header-small {
    font-size: 30px;
    line-height: 58.51px;
    color: #F45137;
}

.rocketContainer{
    position: relative; 
    display: inline-block;
    max-height: 100%;
}

#rocketShip {
    width: 271px;
    height: 437px;
    position: absolute !important;
    bottom: -50px !important;
    left: 172px !important;
}

#rocketShip-small {
    width: 121px;
    height: 185px;
    position: absolute !important;
    bottom: -80px !important;
    left: 70px !important;
    z-index: 1;
    transform: rotate(45deg);
}